*{
    margin: 0;
    padding: 0;
    font-family: "Poppins" , sans-serif;
    box-sizing: border-box;
    transition: all.2s linear;
    text-decoration: none;
    border: none;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7em;
    scroll-behavior: smooth;
}
body {
    position: relative;
    background: linear-gradient(to top, #ffffff, #cbe3f7);
    min-height: 100vh;
    display: flex;
      flex-direction: column;
}
.content{
    flex: 1;    
}
header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    height: 50px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    background-color: #608da2;
}
header .logo {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin-left: 0px;
}
header .logo span {
    color: #000;
}

.menu {
    display: flex;
    background-color: #bedcdfd;
}
.menu li {
    list-style: none;
    margin: 0 15px;
    background-color: #608da2;
}
.menu li a {
    font-size: 14px;
    color: #000;
    font-weight: 300;
    transition: 0.2s;
    background-color: #608da2;
}
.menu li a:hover {
    color: #000000;
    background: #fff;
    padding: 6px;
    border-radius: 10px;
}

/*Scrollbar CSS*/

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: #000;
}

footer {
    background-color: #608da2;
    text-align: center;
    padding: 10px 0;
    color: #000;
    font-size: 14px;
    bottom: 0;
}
button {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
   }
   
   button > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
   }
   
   button:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
   }
   
   