body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-size: 1.1em;
}

header {
  background-color: #384658;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.logo p {
  margin: 0;
  font-size: 1.2em;
}

aside {
  background-color: #384658;
  color: #fff;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 1em;
}

.sidebar-header {
  text-align: center;
}

.sidebar-header img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.sidebar-header p {
  margin-top: 0.5em;
  font-weight: bold;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 1em 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  /* Commenting out the hover effect */
  /* transition: background-color 0.3s ease; */
}

/* Removing the hover effect */
/* .menu a:hover {
  background-color: #242d3a;
} */

.menu i {
  margin-right: 10px;
}

main {
  margin-left: 250px;
  padding: 20px;
}

/* Add some styles for demonstration purposes */
section {
  padding: 20px;
  background-color: #f0f0f0;
}

.menu a {
  text-decoration: none;
  color: inherit;
}

.menu a:hover {
  text-decoration: none;
  color: inherit;
}